.sentItems .p-button.submit-reply .p-button-text {
	display: inline-block;
}

.sentItems .p-datatable .p-datatable-thead > tr > th {
	text-align: left;
}

.sentItems .p-datatable .p-datatable-tbody > tr.p-datatable-row:nth-child(2) {
	font-weight: bold;
}

.sentItems .p-editor-content {
	height: 25vh;
}

@media only screen and (max-width: 900px) {
	.sent-items--dialog {
		width: 80% !important;
	}
}

@media only screen and (max-width: 500px) {
	.sent-items--dialog {
		width: 95% !important;
	}
}
