@media screen and (min-width: 768px) {
	.password-policy .form-group input {
		width: 50%;
	}
}

@media only screen and (max-width: 600px) {
	.password-policy fieldset {
		width: 100% !important;
		margin-right: 0 !important;
	}
}
form.password-policy {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 0;
}
.password-policy fieldset {
	width: 75%;
	border: none;
	margin-right: 150px;
}

.password-policy .p-float-label input:focus ~ label {
	top: -1.35em;
}

.password-policy .p-toggleable-content {
	padding-top: 3%;
	padding-bottom: 3%;
}
