.application-form {
	width: 900px;
	margin: 25px auto;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	padding: 15px 25px;
}

.application-form .custom-dropdown {
	margin-top: 25px;
	width: 100% !important;
}

.p-dropdown-items .p-dropdown-list .p-component {
	width: 100% !important;
}

.application-form input {
	width: 100%;
	margin: 5px auto;
	border: 1px solid transparent !important;
	border-bottom-color: #dcdcdc !important;
}
.application-form Calendar {
	width: 100%;
	margin: 5px auto;
	border: 1px solid transparent !important;
	border-bottom-color: #dcdcdc !important;
}

.p-calendar {
	position: relative;
	display: block !important;
}

.application-form .margin-top-removal {
	margin-top: 0px !important;
	width: 100%;
}
.application-form .month-year {
	margin-top: 0px !important;
	width: 100%;
}

.list-style {
	list-style: none !important;
}

.list-style ul {
	list-style: none;
}
.list-style li::before {
	content: '\25A1';
	color: #1e90ff;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.application-form .required-field {
	color: red !important;
}
.list-style li {
	margin: 6px auto;
}

.align-center {
	text-align: center;
}

.application-form .custom-dropdown-2 {
	width: 100% !important;
}
.margin-bottom-removal-text-alignment {
	margin-bottom: 5px;
	text-align: center;
}
.application-form .margin-bottom-removal {
	margin-top: -19px !important;
}
body .float-button-1 {
	margin-bottom: 1px;
}
body .float-button-2 {
	margin-bottom: 1px;
	display: block;
}
body .float-button-common {
	position: fixed;
	top: 55.5%;
	right: -20px;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

@media only screen and (max-width: 800px) {
	body .float-button-common {
		right: -20px;
	}
}

body .p-dropdown .p-component .custom-dropdown-2 {
	width: 100%;
}

/*edits */
.btn-hack > .p-c {
	padding: 0px !important;
	display: block !important;
	font-size: 3rem !important;
	margin: -18px 5px !important;
	padding-bottom: 5px !important;
}

/* .btn-hack > .p-c {
	padding: 0px !important;
	display: block !important;
	font-size: 3rem !important;
	margin: -18px 5px !important;
	padding-bottom: 5px !important;
} */

.container {
	display: flex;
}
.circle-setup {
	width: 25%;
	border: 2px solid black;
	border-radius: 10%;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.margin-fix-for-symbols {
	margin-top: 6%;
	font-size: 16px;
}
.small-font {
	font-size: 10px;
}
.block-margin-adjust {
	margin-top: 91px;
}

.p-dropdown-filter-container {
	width: 100% !important;
}

/* .icon-color {
	color: #e98e33;
} */
.icon-upload-size {
	font-size: 20px;
}
.adjusting-upload {
	text-align: right !important;
}
.upload-button-margin-adjust {
	margin-right: 2px;
}
.cross-icon {
	color: red;
}
.hide-input {
	display: none;
}
.uploadButton {
	/* border: 1px solid #929191;
    padding: 3px 7px;
    background: #ececec;
	box-shadow: 0px 0px;
	margin-right: 4px; */

	-webkit-appearance: button;

	text-rendering: auto;
	color: #e98e33;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	margin-right: 4px;
}
/* .uploadButton:hover{
	border: 1px solid black;
} */

/* Media Queries */
@media only screen and (max-width: 1170px) {
	.application-form {
		width: 100%;
		margin: 2px auto;
		padding: 5px 15px;
	}
}

@media screen and (max-width: 768px) {
	.circle-setup {
		width: 31%;
		border: 2px solid black;
		border-radius: 10%;
		padding: 10px;
		margin-left: 4px;
		margin-right: 4px;
	}
	.margin-fix-for-symbols {
		margin-top: 11%;
		font-size: 16px;
	}
	.small-font {
		font-size: 10px;
	}
	.block-margin-adjust {
		margin-top: 10px;
	}
}

.application-form .p-float-label {
	margin-top: 38px !important;
}

@media only screen and (max-width: 550px) {
	.application-form .p-float-label {
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 450px) {
	.application-form {
		padding: 2px 10px;
		margin: 5px;
	}
}

@media only screen and (max-width: 400px) {
	.accordion--parent {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 330px) {
	.accordion--parent {
		font-size: 10px !important;
	}
}
