p.p-float-label {
	margin-top: 22px;
	margin-bottom: 22px;
}

.d-block {
	display: block;
}

.centralize {
	display: flex;
	justify-content: center;
}

.text-center {
	text-align: center;
}
.p-rating {
	font-size: 25px !important;
}

body .p-inputtext {
	background-color: #ffffff;
}

/* small drop down fix */
body .p-dropdown .p-component {
	display: block !important;
}

#department {
	width: 225px !important;
}

.mt-1 {
	margin-top: 1%;
}
