.social-facebook {
	background-color: rgba(59, 89, 152, 1) !important;
}

.social-facebook:hover {
	background-color: rgba(59, 89, 152, 0.7) !important;
}

.social-google {
	background-color: rgba(255, 0, 0, 1) !important;
}

.social-google:hover {
	background-color: rgba(255, 0, 0, 0.6) !important;
}

.social-amazon {
	background-color: rgba(255, 153, 0, 1) !important;
}

.social-amazon:hover {
	background-color: rgba(255, 153, 0, 0.6) !important;
}
